@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    p {
       @apply mb-3 
     
    }
}

::-webkit-scrollbar-thumb{
    background-color: #60a5fa8c;
    width: 10px;
    border: 3px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #60a5fa;
    border-radius: 10px;
}

::-webkit-scrollbar{
    background-color: #1f2937;
    width: 10px;
    margin-left: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar:hover{
    width: 20px;
}





